<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap-3.3.2-dist/css/bootstrap.min.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <head>
    <title>AFL Stats</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="\">AFL Stats</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="\">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stats by Team<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('teams_charts', query_type='kicks', min_year='1987', max_year='2014') }}">Kicks</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='handballs', min_year='1987', max_year='2014') }}">Handballs</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='disposals', min_year='1987', max_year='2014') }}">Disposals</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='marks', min_year='1987', max_year='2014') }}">Marks</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='tackles', min_year='1987', max_year='2014') }}">Tackles</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='hitouts', min_year='1987', max_year='2014') }}">Hitouts</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='frees_for', min_year='1987', max_year='2014') }}">Frees for</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='frees_against', min_year='1987', max_year='2014') }}">Frees against</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='goals_kicked', min_year='1987', max_year='2014') }}">Goals kicked</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='behinds_kicked', min_year='1987', max_year='2014') }}">Behinds kicked</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='behinds_rushed', min_year='1987', max_year='2014') }}">Behinds rushed</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='scoring_shots', min_year='1987', max_year='2014') }}">Scoring shots</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='inside_50s', min_year='1987', max_year='2014') }}">Inside 50s</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='in50s_score', min_year='1987', max_year='2014') }}">Inside 50s score</a></li>
                <li><a href="{{ url_for('teams_charts', query_type='in50s_goal', min_year='1987', max_year='2014') }}">Inside 50s goal</a></li>
              </ul>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stats by Ground<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('grounds_charts', query_type='kicks', min_year='1987', max_year='2014') }}">Kicks</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='handballs', min_year='1987', max_year='2014') }}">Handballs</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='disposals', min_year='1987', max_year='2014') }}">Disposals</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='marks', min_year='1987', max_year='2014') }}">Marks</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='tackles', min_year='1987', max_year='2014') }}">Tackles</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='hitouts', min_year='1987', max_year='2014') }}">Hitouts</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='frees_for', min_year='1987', max_year='2014') }}">Frees for</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='frees_against', min_year='1987', max_year='2014') }}">Frees against</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='goals_kicked', min_year='1987', max_year='2014') }}">Goals kicked</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='behinds_kicked', min_year='1987', max_year='2014') }}">Behinds kicked</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='behinds_rushed', min_year='1987', max_year='2014') }}">Behinds rushed</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='scoring_shots', min_year='1987', max_year='2014') }}">Scoring shots</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='inside_50s', min_year='1987', max_year='2014') }}">Inside 50s</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='in50s_score', min_year='1987', max_year='2014') }}">Inside 50s score</a></li>
                <li><a href="{{ url_for('grounds_charts', query_type='in50s_goal', min_year='1987', max_year='2014') }}">Inside 50s goal</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stats by Year<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('year_charts', query_type='kicks') }}">Kicks</a></li>
                <li><a href="{{ url_for('year_charts', query_type='handballs') }}">Handballs</a></li>
                <li><a href="{{ url_for('year_charts', query_type='disposals') }}">Disposals</a></li>
                <li><a href="{{ url_for('year_charts', query_type='marks') }}">Marks</a></li>
                <li><a href="{{ url_for('year_charts', query_type='tackles') }}">Tackles</a></li>
                <li><a href="{{ url_for('year_charts', query_type='hitouts') }}">Hitouts</a></li>
                <li><a href="{{ url_for('year_charts', query_type='frees_for') }}">Frees for</a></li>
                <li><a href="{{ url_for('year_charts', query_type='frees_against') }}">Frees against</a></li>
                <li><a href="{{ url_for('year_charts', query_type='goals_kicked') }}">Goals kicked</a></li>
                <li><a href="{{ url_for('year_charts', query_type='behinds_kicked') }}">Behinds kicked</a></li>
                <li><a href="{{ url_for('year_charts', query_type='behinds_rushed') }}">Behinds rushed</a></li>
                <li><a href="{{ url_for('year_charts', query_type='scoring_shots') }}">Scoring shots</a></li>
                <li><a href="{{ url_for('year_charts', query_type='inside_50s') }}">Inside 50s</a></li>
                <li><a href="{{ url_for('year_charts', query_type='in50s_score') }}">Inside 50s score</a></li>
                <li><a href="{{ url_for('year_charts', query_type='in50s_goal') }}">Inside 50s goal</a></li>
              </ul>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        {% block content %}{% endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    -->
    <script src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    -->
  </body>
</html>
