{% extends "base.html" %}
{% block content %}

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  
  <script>

       var query = document.URL;
       var qtype = query.split("/");
       var query_type = (qtype[qtype.length-1]);


  $(function() {
    $("#slider-range").slider({
      range: true,
      min: 1987,
      max: 2014,
      values: [ 1987, 2014 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "Average " + query_type + " by ground from " + ui.values[ 0 ] + " to " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "Average " + query_type + " by ground from " + $( "#slider-range" ).slider( "values", 0 ) +
      " to " + $( "#slider-range" ).slider( "values", 1 ) );
  });


      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.1', {'packages':['bar']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawVisualization);



        function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['Grounds', 
          {% for result in chart_query %}
            '{{ result.venue_name }}',
          {% endfor %}
          ],
          [query_type, 
          {% for result in chart_query %}
            {% if result.total > 0 %}
              {{ result.total }},
            {% endif %}
          {% endfor %}
          ]
        ]);
        // Set chart options
            var options = {
              chart: {
                vAxis: {title: query_type},
                hAxis: {title: "grounds"},
              }
            };


        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        //chart.draw(data, google.charts.Column.convertOptions(options));
        chart.draw(data, options);
      }
    </script>

<p>
  <label for="amount"></label>
  <input type="text" id="amount" readonly style="border:0; width: 400px; color:#f6931f; font-weight:bold;margin:0px 50px">
</p>
 
<div id="slider-range" style="width: 400px; margin:0px 50px"></div>
</br>

<div id="chart_div" style="height: 950px;"></div>

{% endblock %}