{% extends "base.html" %}
{% block content %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">


       var query = document.URL;
       var qtype = query.split("/");
       var base_url = qtype[0] + '//' +qtype[1]+ '/' +qtype[2]+ '/' +qtype[3];
       var query_type = (qtype[qtype.length-3]);
       var minyear = (qtype[qtype.length-2]);
       var maxyear = (qtype[qtype.length-1]);
       var link = base_url+'/'+minyear+'/'+maxyear;

    $(function() {
    $("#slider-range").slider({
      range: true,
      min: 1987,
      max: 2014,
      values: [ minyear, maxyear ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "Average " + query_type + " by team from " + ui.values[ 0 ] + " to " + ui.values[ 1 ] );
        //$("#dabutton").text('Filter '+ui.values[0]+' to '+ui.values[1]);

      },

    stop: function(event, ui) {
                minyear=ui.values[0];
                maxyear=ui.values[1];
            }

    });
    $( "#amount" ).val( "Average " + query_type + " by team from " + $( "#slider-range" ).slider( "values", 0 ) +
      " to " + $( "#slider-range" ).slider( "values", 1 ) );
  });

      function addURL(element)
{
    $(element).attr('href', function() {
        return base_url +'/'+ query_type +'/'+ minyear+'/'+ maxyear;
    });
}

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.1', {'packages':['bar']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['Teams', 
          {% for result in chart_query %}
            '{{ result.team_name }}',
          {% endfor %}
          ],
          [query_type,
           {% for result in chart_query %}
            {{ result.total }},
          {% endfor %}
          ]


        ]);
        // Set chart options
            var options = {
              chart: {
                vAxis: {title: query_type},
                hAxis: {title: "teams"},
              },
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '5' }
            };


        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        //chart.draw(data, google.charts.Column.convertOptions(options));
        chart.draw(data, options);
      }
    </script>

<p>
  <label for="amount"></label>
  <input type="text" id="amount" readonly style="border:0; width: 400px; color:#f6931f; font-weight:bold;margin:0px 50px">
</p>
 
<div id="slider-range" style="width: 30%; margin:0px 50px"></div>
</br>
<a class="btn btn-success" style="width: 200px; margin:0px 50px" onclick="javascript:addURL(this);" href="./">Click to Filter</a>
</br>
<div id="chart_div" style="width: 90%; height: 80%; margin: 10px"></div>

{% endblock %}